<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Jhakiz/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Jhakiz" />
            <add key="ClearTextPassword" value="647164a7c24ecc6a163284dfabea8868d83a36fc" />
        </github>
    </packageSourceCredentials>
</configuration>